.btn-compare{
  margin-top:20px !important;
  margin-bottom: 22px !important;
}
.span-snippets textarea{
  font-weight: normal;
}
textarea {
  width: 100% !important;
}
textarea.faster{
  border-color: lightgreen;
  border-width: 3px;
}