.btn-compare{
  margin-top:20px !important;
  margin-bottom: 20px !important;
}
textarea{
  font-weight: normal;
  width: 100% !important;
  margin-bottom: 10px !important;
}
textarea#result{
  margin-top: 8px !important;
}
textarea.faster{
  border-color: lightgreen;
  border-width: 3px;
}
textarea.error{
  border-color: red;
  border-width: 3px;
}

.progress .progress-bar {
  transition:none !important;
}
.jumbotron{
  padding-bottom: 0px !important;
}
